@font-face {
  font-family: 'proxima nova';
  font-weight:400;
  font-style:normal;
  src: local('proxima nova'),
  url("https://payeer.com/style/fonts/proxima nova.woff2") format('woff2'),
  url("https://payeer.com/style/fonts/proxima nova.woff") format('woff');
}
@font-face{
   font-family:'Futura New';
   src:local('Futura New Book Reg'),local('FuturaNewBook-Reg'),url('https://payeer.com/style/fonts/FuturaNewBook-Reg.woff2') format('woff2'),url('https://payeer.com/style/fonts/FuturaNewBook-Reg.woff') format('woff');font-weight:400;font-style:normal;
}
@font-face {
  font-family: 'proxima nova';
  font-weight:200;
  font-style:normal;
  src: local('proxima nova'),
  url("https://payeer.com/style/fonts/proxima nova-light.woff2") format('woff2'),
  url("https://payeer.com/style/fonts/proxima nova-light.woff") format('woff');
}
@font-face {
  font-family: 'proxima nova';
  font-weight:600;
  font-style:normal;
  src: local('proxima nova'),
  url("https://payeer.com/style/fonts/proxima nova-semibold.woff2") format('woff2'),
  url("https://payeer.com/style/fonts/proxima nova-semibold.woff") format('woff');
}
@font-face {
  font-family: 'proxima nova';
  font-weight:900;
  font-style:normal;
  src: local('proxima nova'),
  url("https://payeer.com/style/fonts/proxima nova-bold.otf") format('opentype'),
  url("https://payeer.com/style/fonts/proxima nova-bold.woff") format('woff');
}

@font-face {
  font-family: 'icomoon';
  font-weight: 400;
  font-style: normal;
  src: url('https://payeer.com/style/fonts/icomoon.eot');
  src: local('icomoon'),
  url('https://payeer.com/style/fonts/icomoon.ttf') format('truetype'),
  url('https://payeer.com/style/fonts/icomoon.woff') format('woff'),
  url('https://payeer.com/style/fonts/icomoon.svg') format('svg');
}




@font-face{
   font-family:'Gotham Pro';
   src: local('Gotham Pro'),
   local('GothamPro'),
   url('https://payeer.com/style/fonts/GothamPro.woff2') format('woff2'),
   url('https://payeer.com/style/fonts/GothamPro.woff') format('woff');
   font-weight:400;
   font-style:normal;
}
@font-face{
   font-family:'Gotham Pro';
   src:local('Gotham Pro Medium'),local('GothamPro-Medium'),url('https://payeer.com/style/fonts/GothamPro-Medium.woff2') format('woff2'),url('https://payeer.com/style/fonts/GothamPro-Medium.woff') format('woff');font-weight:500;font-style:normal;
}
@font-face{
   font-family:'Gotham Pro';
   src:local('Gotham Pro Bold'),local('GothamPro-Bold'),url('https://payeer.com/style/fonts/GothamPro-Bold.woff2') format('woff2'),url('https://payeer.com/style/fonts/GothamPro-Bold.woff') format('woff');font-weight:700;font-style:normal;
}

@font-face{
   font-family:'Futura New';
   src:local('Futura New Medium Reg'),local('FuturaNewMedium-Reg'),url('https://payeer.com/style/fonts/FuturaNewMedium-Reg.woff2') format('woff2'),url('https://payeer.com/style/fonts/FuturaNewMedium-Reg.woff') format('woff');font-weight:500;font-style:normal;
}

@font-face{
   font-family:'Futura New Demi';
   src:local('Futura New Demi Reg'),local('FuturaNewDemi-Reg'),url('https://payeer.com/style/fonts/FuturaNewDemi-Reg.woff2') format('woff2'),url('https://payeer.com/style/fonts/FuturaNewDemi-Reg.woff') format('woff');font-weight:400;font-style:normal;
}
@font-face{
   font-family:'Bradley Hand';
   src:url('https://payeer.com/style/fonts/Bradley-Hand-Bold.woff2') format('woff2'),url('https://payeer.com/style/fonts/Bradley-Hand-Bold.woff') format('woff');font-weight:700;font-style:normal;
}
